{
  "extends": "stylelint-config-standard",
  "defaultSeverity": "error",
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "**/*.ts",
    "**/*.tsx"
  ],
  "rules": {
    "no-descending-specificity": null,
    "color-hex-length": "long",
    "no-empty-source": null,
    "at-rule-no-unknown": [ true, {
      ignoreAtRules: [
        'extend',
        'mixin',
        'if',
        'content',
        'else',
        'error',
        'include',
        'function',
        'return',
        'each',
        'for',
        ]
    }],
    "at-rule-empty-line-before": null,
  }
}
