.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}
